body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffb743;
    padding-top: 10%;
}

.calculator {
    display: inline-block;
    padding: 20px;
    border: 2px solid #0e0a0a;
    border-radius: 10px;
    background-color: #39352c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.calculator h2 {
    margin-bottom: 15px;
    color: #ebe3e3;
}

#display {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #646161;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #080800;
}

button:active {
    background-color: #3d9142;
}

button.operator {
    background-color: #f49506;
}

button.operator:hover {
    background-color: #080800;
}

button.operator:active {
    background-color: #2a5cda;
}

button.equal {
    background-color: #10190f;
}

button.equal:hover {
    background-color: #080800;
}

button.equal:active {
    background-color: #05f120;
}
